/* общие настройки */

*,
::after,
::before {
  box-sizing: border-box;
}

body {
	font-family: "Roboto", "Arial", sans-serif;
	background-color: #fcfbfa;
	color: #39312d; /*настраиваем единый цвет для текста, будем менять его по мере необходимости непосредственно для конкретных блоков и элементов*/
}

body{
    background-color: #fcfbfa;
    color: #39312d;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    text-align: center ;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}

header img.logo {
width: 20vw;
}

header nav ul {
display: flex;
flex-wrap: wrap;
padding-left: 1rem;
}
header nav ul li {
margin-right: 1rem;
margin-bottom: 0.5rem;
}

section.banner {
min-height: 20vw;
display: flex;
align-items: center;
justify-content: center;
background: url("../img/banner-bg.jpg") center/cover;
color: #fcfbfa;
}

section.banner .content {
display: block;
}

footer{
    color: #fcfbfa;
    background-color: #39312d;
}

/*  index.html */

.select,
.reviews {
background: linear-gradient(175deg, #fcfbfa, #39312d00), url("../img/select-bg.png");
}
.advantages .content {
justify-content: space-between;
background: #39312d;
color: #fcfbfa;
}
.advantages .advantage img {
margin: 0 auto;
max-width: 80%;
}
.advantages .advantage p {
display: none;
}
.select .select__cakes .select__cake {
margin-bottom: 1rem;
}
.select .select__cakes .select__cake a {
display: block;
width: 100%;
padding: 1rem;
background: #39312d;
border: 3px solid #39312d;
color: #fcfbfa;
}
.select .select__cakes .select__cake img {
width: 100%;
}
.reviews .content .review img {
display: none;
}
.reviews .content .review .review__text {
display: flex;
align-items: center;
margin: 1rem;
}
.reviews .content .review .review__text blockquote {
padding: 0.5rem;
margin: 0.5rem;
}

.about {
	background: url("../img/about-bg.jpg") center/cover;
}

.about .about__wrap {
	padding: 1rem;
	background: rgba(0, 0, 0, 0.5);
	color: #fcfbfa;
	font-size: 1rem;
}

.about .about__text p {
	padding-bottom: 1rem;
	text-align: center;
	font-style: italic;
}

.reviews .content {
	margin: 1.5em auto;
}

.reviews .content .review img {
	display: none;
}

.reviews .content .review .review__text {
	display: flex;
	align-items: center;
	margin: 1rem;
	background: linear-gradient(135deg, #fcfbfa 50%, #f0f0ef 50%);
	border: 1px solid #39312d18;
	font-style: italic;
}

.reviews .content .review .review__text blockquote {
	padding: 0.5rem;
	margin: 0.5rem;
}


.feedback {
	background: url("../img/feedback-bg.jpg") center/cover;
	color: #fcfbfa;
}

.feedback a,
.feedback h4 {
	color: #fcfbfa;
	width: 90%;
}

.feedback h3 {
	margin: 1rem;
	font-size: 1.5rem;
}

.feedback form input {
	width: 100%;
	margin-bottom: 0.5rem;
	padding: 1rem;
	background: transparent; /* два последних символа определяют прозрачность */
	border: 2px solid #fcfbfa;
	color: #fcfbfa;
}

/*настраиваем цвет для справочного текста внутри поля для ввода*/
.feedback form input::placeholder {
	color: #fcfbfa;
}

/* скрываем кнопку загрузки файла и настраиваем вид для связанной с ней метки */
.feedback form .form__download input[type="file"] {
	display: none;
}
.feedback form .form__download label[for="download"] {
	text-decoration: underline;
}

.feedback form .form__submit {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

/* настроим оформление для флажка */
.feedback form .form__submit input[type="checkbox"] {
	appearance: none;
	position: relative;
	min-height: 2rem;
	width: 2rem;
	margin-right: 1rem;
	margin-bottom: 0;
}

/* добавляем новый значок для выбранного checkbox-а */
.feedback form .form__submit input[type="checkbox"]::before {
	visibility: hidden;
	position: absolute;
	content: "\2714";
	color: #fcfbfa;
	font-size: 2.2em;
	left: 0;
	top: -5px;
}

/* показываем значок если checkbox выбран */
.feedback form .form__submit input[type="checkbox"]:checked::before {
	visibility: visible;
}

.feedback form input[type="submit"] {
	background: #39312d;
	margin-top: 1.5rem;
	cursor: pointer;
}

.map iframe {
width: 100%;
height: 400px;
}



/* Страница cakes.html */
.cakes .cake {
width: 90%;
padding: 1rem;
margin-bottom: 1rem;
background: #39312d;
color: #fcfbfa;
}
.cakes .cake .cake__descript img {
     max-width: 90%;
}
.cakes .cake .cake__buy {
     padding: 0.5rem;
}
.cakes .cake .cake__buy a {
display: inline-block;
width: 90%;
padding: 1rem;
border: 1px solid #fcfbfa;
color: #fcfbfa;
font-size: 1rem;
}
.cakes .cake .cake__buy ul { padding-left: 0;}

/* Страница fillings.html */
.fillings .content a {
color: #39312d;
}
.fillings .filling img {
border-radius: 50%;
}
/* Страница delivery.html */
.delivery .delivery__about {
	display: none;
}

.delivery .delivery__price table {
	max-width: 100%;
	border-collapse: collapse; /*для таблиц схлопываем границы*/
	font-size: 0.7rem;
	font-style: italic;
}

.delivery .delivery__price table thead tr {
	border-bottom: 3px solid #39312d;
}